{% for q in page_obj %}
    <tr hx-target="this" hx-swap="outerHTML">
        <td>{{ q.question }}</td>
        <td>{{ q.marks }}</td>
        <td>
            <a hx-delete="{% url 'cms:delete_question' q.unique_id %}" hx-confirm="Are You Sure..?" class="btn btn-danger btn-sm edit">
                <i class="fas fa-trash"></i>
            </a>
            <a href="{% url 'cms:update_question' q.unique_id %}"
               class="btn btn-info btn-sm edit">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
{% endfor %}

{% if page_obj.has_next %}
    <tr id="load-more">
        <td colspan="4" class="text-center">
            <button class="btn btn-primary"
                    hx-get="{% url 'cms:htmx_paginate_questions' %}?page={{ page_obj.next_page_number }}"
                    hx-target="#load-more"
                    hx-swap="outerHTML"
            >
                Load More</button>
        </td>
    </tr>
{% endif %}

