{% for t in page_obj %}

<tr hx-target="this" hx-swap="outerHTML">
    <td><img src="{{ t.main_image.url }}" height="50px"></td>
    <td><a href="{% url 'lms:training_detail' t.unique_id %}">{{ t.title }}</a></td>
    <td>{{ t.description }}</td>
    <td>{{ t.created_by }}</td>
    <td>{{ t.total_attendees }}</td>
    <td>{{ t.start_at }}</td>
    <td>{{ t.duration }}</td>
    <td>
        <a class="btn btn-primary btn-sm edit" title="View"
           data-bs-toggle="modal"
           data-bs-target="#viewModal"> <i
                class="fas fa-eye"></i></a>
        {% if request.user.is_staff %}
            <a class="btn btn-success btn-sm edit"
               title="Edit"> <i
                    class="fas fa-pencil-alt"></i></a>
            <a hx-delete="{% url 'lms:delete_training' t.unique_id %}" hx-confirm="Are You Sure..?" class="btn btn-danger btn-sm edit"> <i class="fas fa-trash"></i></a>
        {% endif %}
    </td>
</tr>
{% endfor %}


{% if page_obj.has_next %}
    <tr id="load-more">
        <td colspan="4" class="text-center">
            <button class="btn btn-primary"
                    hx-get="{% url 'lms:htmx_paginate_all_trainings' %}?page={{ page_obj.next_page_number }}"
                    hx-target="#load-more"
                    hx-swap="outerHTML"
            >
                Load More</button>
        </td>
    </tr>
{% endif %}