<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table text-center mb-20">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                    <th>JOIN</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for t in trainings %}
                                        <tr>
                                            <td>{{ t.title }}</td>
                                            <td>{{ t.description }}</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm edit"
                                                   id="viewModalBtn"
                                                   title="View"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#viewModal"
                                                   data-title="{{ t.title }}"
                                                   data-description="{{ t.description }}"> <i
                                                        class="fas fa-eye"></i>
                                                </a>
                                            </td>
                                            {% if t.is_started %}
                                                <td>
                                                    <a href="{% url 'lms:join_meeting' t.unique_id %}">
                                                        <button class="btn btn-primary">
                                                            Join
                                                        </button>
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td>Not Started</td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if is_paginated %}
                        <div class="col-sm-12 col-md-7">
                            <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">&laquo; first</a>
                                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                    {% endif %}

                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>