{% load static %}
{% load custom_tags %}


<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <ul class="metismenu list-unstyled" id="side-menu">

                {% if not request.user.is_staff %}
                    <!--dash-->
                    <li>
                        <a href="" class="waves-effect">
                            <i class="ti-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <!--Training-->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ti-book"></i>
                            <span>Training Management</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'lms:my_trainings' %}">My Trainings</a></li>
                            {#<li><a href="#">Create a new event </a></li>#}
                        </ul>
                    </li>
                    <!--course-->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ti-book"></i>
                            <span>Course Management</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'home:my_courses' %}">My Courses</a></li>
                        </ul>
                    </li>
                    <!--Study content-->

                    {% if request.user|has_type:"TRAINER" %}
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="ti-book"></i>
                                <span>Study Content Management</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'cms:all_assignments' %}">All Assignments</a></li>
                            </ul>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'cms:all_quizzes' %}">All Quizzes</a></li>
                            </ul>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'cms:all_questions' %}">All Questions</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if request.user|has_type:"TRAINEE" %}
                        <li>
                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                <i class="ti-book"></i>
                                <span>Learning Content Management</span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'cms:my_assignments' %}">My Assignments</a></li>
                            </ul>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="{% url 'cms:my_quizzes' %}">My Quizzes</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <!--Learning content-->
                    <!--setting-->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-cog font-size-17 align-middle me-1"></i>
                            <span>Setting</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="">Change password</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="" class="waves-effect">
                            <i class="ti-home"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ti-book"></i>
                            <span>User Management</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'users:user_list' %}">Access Users list </a></li>
                        </ul>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'users:create_user' %}">Create Account</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ti-book"></i>
                            <span>Training Management</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            {% if request.user.is_superuser %}
                                <li><a href="{% url 'lms:all_trainings' %}">Access Training/Event list </a></li>
                            {% endif %}
                            <li><a href="{% url 'lms:my_trainings' %}">My Trainings</a></li>
                            <li><a href="{% url 'lms:create_training' %}">Create Training</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ti-book"></i>
                            <span>Course Management</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'home:all_courses' %}">Access all Courses</a></li>
                            <li><a href="{% url 'home:create_course' %}">Create</a></li>
                        </ul>
                    </li>
                    <!--Study content-->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="ti-book"></i>
                            <span>Study Content Management</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'cms:all_assignments' %}">All Assignments</a></li>
                        </ul>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'cms:all_quizzes' %}">All Quizzes</a></li>
                        </ul>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'cms:all_questions' %}">All Questions</a></li>
                        </ul>
                    </li>
                    <!--Roles-->
                    <li>
                        <a href="" class="waves-effect">
                            <i class="ti-infinite"></i>
                            <span>Roles & Rights Management</span>
                        </a>
                    </li>
                    <!--Backup-->
                    <li>
                        <a href="#" class="waves-effect">
                            <i class="ti-book"></i>
                            <span>Backup & Data Management </span>
                        </a>
                    </li>
                    <!--report-->
                    <li>
                        <a href="#" class="waves-effect">
                            <i class="ti-receipt"></i>
                            <span>Report management </span>
                        </a>
                    </li>
                    <!--setting-->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="mdi mdi-cog font-size-17 align-middle me-1"></i>
                            <span>Setting</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="">Change password</a></li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->