

{% if all_files %}
<div class="row">
    <div class="col-lg-12">
        <div class="card ">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table text-center mb-20">
                                <thead>
                                <tr>
                                    <th>File</th>
                                    <th>Notes</th>
                                    <th>Uploaded By</th>
                                    <td>Date</td>
                                    <td>Actions</td>
                                </tr>
                                </thead>
                                <tbody>
                                    {% include 'uploads/includes/all_files_loop.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% include 'lms/includes/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            No Files Uploaded
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}