{% for d in page_obj %}
    <tr hx-target="this" hx-swap="outerHTML">
        <td>{{ d.type }}</td>
        <th>{{ d.created_at }}</th>
        <td><a href="{{ d.file.url }}">view</a></td>
        <td>
            <a hx-delete="{% url 'users:delete_my_document' d.unique_id %}" hx-confirm="Are You Sure..?" class="btn btn-danger btn-sm edit">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
{% endfor %}


{% if page_obj.has_next %}
    <tr id="load-more">
        <td colspan="4" class="text-center">
            <button class="btn btn-primary"
                    hx-get="{% url 'users:htmx_paginate_my_docs' %}?page={{ page_obj.next_page_number }}"
                    hx-target="#load-more"
                    hx-swap="outerHTML"
            >
                Load More</button>
        </td>
    </tr>
{% endif %}