{% extends 'lms/base.html' %}
{% load static %}


{% block head %}
    <style>
        .toast-container {
        left:40%;
        margin-top:5%;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="layout-wrapper">
        {% include 'lms/includes/top_menu.html' %}
        {% include 'lms/includes/sidebar.html' %}
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h6 class="page-title">All Users</h6>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="#">GCNEP</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Search by Name or Email</h4>
                                    <form id="search-form" class="repeater">
                                        <div data-repeater-list="group-a">
                                            <div data-repeater-item class="row">
                                                <div class="mb-3 col-lg-3">
                                                    <label class="form-label" for="query">Search...</label>
                                                    <i id="search-icon" class="fas fa-search"></i>
                                                    <input type="text" class="form-control"
                                                           hx-get="{% url 'users:user_search' %}"
                                                           hx-target="#search-results"
                                                           hx-trigger="keyup changed delay:500ms"
                                                           hx-swap="innerHTML"
                                                           name="query"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button hx-get="{% url 'uploads:upload_users' %}"
                                hx-target="#dialog" class="btn btn-info mb-2">
                            Bulk Upload
                        </button>
                    </div>
                    <!-- end search -->
                    <div id="search-results"
                         hx-trigger="load, userListChanged from:body"
                         hx-get="{% url 'users:all_users_list' %}"
                         hx-target="this">
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            ©
                            <script>document.write(new Date().getFullYear())</script>
                            GCNEP</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this">

        </div>
    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div id="toast-body" class="toast-body"></div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'users/js/users.js' %}" defer></script>
    <script src="{% static 'cms/js/toast.js' %}" defer></script>
{% endblock %}




