{% extends 'lms/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div id="layout-wrapper">
        {% include 'lms/includes/top_menu.html' %}
        {% include 'lms/includes/sidebar.html' %}
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h6 class="page-title">Change Password</h6>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="#">GCNEP</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-6">
                            <form method="post">
                              {% csrf_token %}
                              {{ form|crispy }}
                              <button type="submit">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            ©
                            <script>document.write(new Date().getFullYear())</script>
                            GCNEP</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

{% endblock %}