{% extends 'lms/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{#    <style>#}
{#        input {max-width: 12em}#}
{#    </style>#}
{% endblock %}

{% block content %}
    <div id="layout-wrapper">
        {% include 'lms/includes/top_menu.html' %}
        {% include 'lms/includes/sidebar.html' %}
        <div class="main-content indpages">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                {% if request.user.is_staff %}
                                    <h6 class="page-title">Moderator Profile</h6>
                                {% else %}
                                    <h6 class="page-title">User Profile</h6>
                                {% endif %}
                                <h4 class="page-title">Name:  {{ request.user.name }}</h4>
                            </div>
                        </div>
                    </div>
                    {% if request.user.profile.image %}
                        <div class="col mb-2">
                            <img src="{{ request.user.profile.image.url }}" width="100" height="100">
                        </div>
                    {% endif %}
                    {% if not request.user.is_staff %}
                        <div class="col mb-3">
                            <button class="btn btn-primary">Add Employment</button>
                            <button class="btn btn-primary">Add Education</button>
                            <button class="btn btn-primary" hx-get="{% url 'users:get_my_documents' %}">My Documents</button>
{#                            <a href="{% url 'users:my_documents' %}">#}
{#                                <button class="btn btn-primary">My Documents</button>#}
{#                            </a>#}
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <form id="profile-form" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ profile_form|crispy }}
                                        <button type="submit" class="btn btn-primary mt-3">Update</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'users/js/users.js' %}" defer></script>
{% endblock %}