<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chime SDK Meeting Demo</title>
    <script src="{% static 'js/amazon-chime-sdk.min.js' %}" defer></script>
    <link rel="icon" href="data:,">
  </head>

  <body>
    <div id="root">
        <iframe src="http://139.162.29.56/mypizzeria/admin/" target="_self"
                title="W3Schools Free Online Web Tutorials"
                height="950"
                width="99%">

        </iframe>
    </div>
  <script src="{% static 'js/chime.js' %}" defer></script>
  </body>
</html>