{% extends 'lms/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    {{ form.media.css }}
{% endblock %}


{% block content %}
    <div id="layout-wrapper">
        {% include 'lms/includes/top_menu.html' %}
        {% include 'lms/includes/sidebar.html' %}
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    <div class="page-title-box">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                {% if not request.user.is_staff %}
                                    <h6 class="page-title">ALL Quizzes created by {{ request.user.name }}</h6>
                                {% else %}
                                    <h6 class="page-title">ALL Quizzes</h6>
                                {% endif %}
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="#">GCNEP</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Search by</h4>
                                    <form id="search-form" class="repeater">
                                        <div data-repeater-list="group-a">
                                            <div data-repeater-item class="row">
                                                <div class="mb-3 col-lg-3">
                                                    <label class="form-label" for="query">Search...</label>
                                                    <i id="search-icon" class="fas fa-search"></i>
                                                    <input type="text" class="form-control"
                                                           hx-get="{% url 'cms:all_quizzes_search' %}"
                                                           hx-target="#search-results"
                                                           hx-trigger="keyup changed delay:500ms"
                                                           hx-swap="innerHTML"
                                                           name="query"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button hx-get="{% url 'cms:create_quiz_category' %}"
                                hx-target="#dialog" class="btn btn-info mb-2">
                            Add Quiz Category
                        </button>
                        <a href="{% url 'cms:create_quiz' %}">
                            <button type="button" class="btn btn-info mb-2">Add Quiz</button>
                        </a>
                    </div>
                    <div id="search-results"
                         hx-trigger="load, quizListChanged from:body"
                         hx-get="{% url 'cms:all_quizzes_list' %}"
                         hx-target="this">
                    </div>
                </div>
            </div>
            <!-- End Page-content -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            ©
                            <script>document.write(new Date().getFullYear())</script>
                            GCNEP</span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="addQuizCatModal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this">

        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'cms/js/quiz.js' %}" defer></script>
    {{ form.media.js }}
{% endblock %}




